@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url("https://fonts.cdnfonts.com/css/christmas-fonts-collection");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #f5f3f3;
}

.casaBranca {
  font-family: "Fireplace PERSONAL USE ONLY", sans-serif;
  font-size: 2rem;
  text-shadow: 0px 2px 3px rgb(69, 69, 69), 0px 2px 3px rgb(158, 158, 158);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
